*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: end;
  margin: 133px 30px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  inline-size: 399px;
  block-size: 298px;
  overflow: auto;
}

.content__details {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
}

.content__list-item {
  margin-bottom: 32px;
  padding: 0px 3px 0px 3px;
}

.content__video-card {
  display: flex;
  align-items: start;
  width: 100%;
}

.content__video-card-thumbnail {
  display: block;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
}

.content__card-link_current {
  background: #545050;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  line-clamp: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  appearance: none;
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  height: 34px;
  width: 194px;
}

.search-form__submit-button {
  align-self: end;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background: #fff;
  height: 15px;
  width: 15px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active,
.content__list-item:active {
  background: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.search-form__label:focus{
  outline: none;
}

.content__card-link{
  outline: none;
}

.search-form__label:focus-visible,
.button:focus-visible,
.content__card-link:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.more-button {
  width: 390px;
  margin-bottom: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
